# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

